
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">
      
      <form action="{{ url_for('addrec') }}"  method="POST">
         <h3>Secret Agent Database</h3>
         Name<br>
         <input type="text" name="Name" ><br>
         
         Alias<br>
         <input type="text" name="Alias"><br>

         Security Level<br>
         <input type="text" name="SecLvl"><br>
         
         Password<br>
         <input type="password" name="Password"><br>
         <input type="submit" value="submit"><br>
      </form>
      
   

</body>
</html>